.P-render-boxes{
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.p-boxes-block{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
}