.lesson-1{
 margin-top: 60px;

}


.lesson-1 p{
  margin: 20px;


}

.name-list{
     display: flex;
    width: 100%;
}
.Group{
     width: 50%;
    border: 1px solid red;
}
.Group h1{
     text-align: center;
}
.render-box p{
      font-size: 30px;
    color: red;
}
input{
    padding: 20px;
}
button{
    padding: 20px;
}