.lesson-2{
margin-top: 70px;
}
.number-box{
     display: flex;
}
.render-number{
     width: 50%;
     border: 2px solid red;
}
.render-number h1{
      text-align: center;
}
.map-box p{
    color: red;
    font-size: 30px;
}