.lesson-add-users{
   display: flex;
  justify-content: space-between;

}

.registration-list{
  width: 40%;
}

.registration-tools{
  display: flex;
  justify-content: space-between;
  align-items: center;




  input{
    margin-top: 0;
    padding: 20px;
  }
  span{
     font-size: 30px;
    padding: 20px;
    color: antiquewhite;

  }
  h3{
     color: red;
  }
}
.users{
   display: flex;
  flex-wrap: wrap;
}