.p-input-validacion{
   display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;

  h2{
     font-size: 40px;
    color: red;
  }
}
.Number{
  background-color: red;
}