.lesson-create-cash{

.money-tools{


  button{
    position: relative;
    padding: 10px 30px;
    margin: 45px 0;
    background-color: #8787a8;
    text-decoration: none;
    font-size: 50px;
    transition: .5s;
    cursor: pointer;
  }

  button:hover{
    background: #21ebff;
    color: #000;
    box-shadow: 0 0 50px #21ebff;
    //transition-delay: 0.5s;
  }


}









}