.headr-block{
     display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 50px;
}
.image-block{
    padding: 20px;
}
.cars-list{
     display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin: 20px;
}