.lesson-1{
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.result-block{
   display: flex;
    width: 50%;
  justify-content: space-between;
  border: 1px solid red;
}
.group-list{
   border: 1px solid red;
  width: 50%;

  p{
     color: #76cb76;
    font-size: 20px;
    padding: 10px;
  }


  h2{
     color: #76cb76;
    text-align: center;
  }
}
 .group-list {
  counter-reset: section;
}

p::before {
  counter-increment: section;
  content: " " counter(section) ". ";
  color: black;
  font-size: 30px;
}