.headr{
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #636262;
  h1{
    color: black;
    padding: 10px;
  }
}
.Components-lessons{

  ul{
    display: flex;
    flex-wrap: wrap;
    li{
      list-style: none;
      transition: .4s;
      padding: 20px;

      a{
        padding: 20px;
        margin: 20px;
        cursor: pointer;
        border-radius: 20px;
        font-size: 25px;
        background-color: gold;
        text-decoration: none;

        &.active{
          background-color: #76cb76;
        }
      }
    }
  }
}